/* ****DASHBOARD SCHEMA.****
 * Selectors are ranked according to their level of specificity
 */

/* ------------------------------------------ Graphic fxml components STYLE -----------------------------------------------*/
/* General design of the body */
.background {
    -fx-padding: 0;
    -fx-margin: 0;
    -light-black: rgb(74, 75, 78);
    -dark-highlight: rgb(87, 89, 92);
    -dark-black: rgb(39, 40, 40);
    -darkest-black: rgb(5, 5, 5);
    -mid-gray: rgb(216, 222, 227);
    -fx-background-color: -mid-gray;
}

.body {
    -fx-background-color: #fff;
    -fx-font-family: "HelveticaNeueLTPro-Roman";
    -fx-font-size: 12px;
}
/* Design of scroll panes */
.scroll-pane {
    -fx-padding: 0;
    -fx-background: whitesmoke;
    -fx-border-color: whitesmoke;
    -fx-background-color: whitesmoke;
    -fx-alignment: center;
}

.scroll-pane > .corner {
    -fx-background-color: whitesmoke;
}

.scroll-pane:focused {
    -fx-border-color: whitesmoke;
}

.scroll-bar:horizontal {
    -fx-padding: 0;
}

.scroll-bar:vertical {
    -fx-padding: 0;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
    -fx-unit-increment: 1000px ;
    -fx-block-increment: 50px ;
}

.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-padding: 6px 0;
    -fx-background-color: whitesmoke;
    -fx-border-width: 4px;
    -fx-border-color: whitesmoke;
}

.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
    -fx-padding: 0 6px;
    -fx-background-color: whitesmoke;
    -fx-border-width: 4px;
    -fx-border-color: whitesmoke;
}

.scroll-bar:vertical .increment-button:hover, .scroll-bar:vertical .decrement-button:hover,
.scroll-bar:horizontal .increment-button:hover, .scroll-bar:horizontal .decrement-button:hover {
    -fx-background-color: #ccc;
    -fx-border-color: #ccc;
}

.scroll-bar:vertical .increment-button:pressed, .scroll-bar:vertical .decrement-button:pressed,
.scroll-bar:horizontal .increment-button:pressed, .scroll-bar:horizontal .decrement-button:pressed {
    -fx-background-color: #aaa;
    -fx-border-color: #aaa;
}

.increment-arrow, .decrement-arrow {
    -fx-background-color: #333;
}

.increment-arrow:pressed, .decrement-arrow:pressed {
    -fx-background-color: #eee;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: whitesmoke;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #ccc;
    -fx-background-radius: 3px;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #aaa;
}

.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #888;
}

/* Design of vboxes */
.vbox {
    -fx-padding: 10px;
    -fx-spacing: 2px;
}
/* Design of hboxes */
.hbox {
    -fx-alignment: center;
    -fx-padding: 0 10px;
    -fx-spacing: 10px;
}
/* Design of buttons */
.button {
    -fx-font-family: "HelveticaNeueLTPro-Md";
    -fx-font-size: 14px;
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-cursor: hand;
}
/*Design of combo boxes */
.combo-box {
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-pref-width: 25px;
    -fx-pref-height: 25px;
    -fx-width: 25px;
    -fx-height: 25px;
    -fx-cursor: hand;
}

.combo-box .list-cell
{
    -fx-font-family: "SF Pro Display Medium";
    -fx-font-size: 13px;
    -fx-text-fill: #555;
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 3px 5px;
}

.combo-box-popup .list-view
{
    -fx-padding: 4px;
    -fx-background-color: #fff;
    -fx-border-color: transparent;
    -fx-background-radius: 6px;
    /*-fx-background-insets: 0, 1;*/
    -fx-effect: dropshadow( gaussian , #aaa , 8, 0.0 , 0 , 2 );
}

/*.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background: -fx-accent;
    -fx-background-color: #0c5e7a;
    -fx-text-fill: -fx-selection-bar-text;
}*/

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: linear-gradient(#1c8fd0, #085eb3);
    -fx-background-radius: 6px;
    -fx-text-fill: -fx-selection-bar-text;
}


/*Design of labels */
.label {

}
/*Design of glyphs */
.glyph {
    -fx-font-size: 14px;
}
/*Design of text fields */
.textfield {
    -fx-font-family: "HelveticaNeueLTPro-Md";
    -fx-font-size: 14px;
    -fx-text-fill: whitesmoke;
    -fx-background-color: transparent;
}

/* ------------------------------------------ Specific areas STYLE -----------------------------------------------*/
.dashboard {
    -fx-background-color: #333;
    -fx-padding: 0;
}

.dashboard .hbox {
    -fx-alignment: center-left;
    -fx-focus-traversable: false;
}

.dashboard .vbox {
    -fx-margin: 0 20px;
    -fx-padding: 10px 0;
    -fx-min-height: 50px;
    -fx-spacing: 0;
}

.dashboard .vbox .hbox {
    -fx-padding: 1px 30px;
    -fx-max-height: 50px;
    -fx-spacing: 5px;
}

.dashboard-buttons {
    -fx-cursor: hand;
}

/* Changing the status of all the buttons inside the dashboard */
/* .dashboard .vbox .hbox:hover {
    -fx-background-color: #DA8A15;
}

.dashboard .vbox .hbox:focused {
    -fx-background-color: #DA8A15;
}

.dashboard .vbox .hbox:pressed {
    -fx-background-color: #EDA741;
} */

.dashboard .button {
    -fx-font-family: "HelveticaNeueLTPro-Md";
    /*-fx-font-weight: bold;*/
    -fx-font-size: 14px;
    -fx-text-fill: #bbb;
    -fx-focus-traversable: false;
}

.dashboard .label {
    -fx-text-fill: #999;
    -fx-focus-traversable: true;
}

.dashboard .glyph {
    -fx-fill: #bbb;
}

.dashboard .textfield {
    -fx-text-fill: #bbb;
    -fx-background-color: #212121;
    -fx-border-color: transparent;
    -fx-border-radius: 20px;
    -fx-padding: 5px 5px;
    -fx-min-width: 180px;
    -fx-focus-traversable: false;
    /* -fx-effect: innershadow( gaussian, rgba( 64, 64, 64, 0.5 ), 10, 0, 0, -5 ); */
}

.dashboard .textfield:hover {
    -fx-text-fill: #ddd;
}

.dashboard .textfield:focused {
    -fx-text-fill: #fff;
}

.dashboard .textfield:pressed {

}

.user-options {
    /*-fx-padding: 18px 15px;*/
    -fx-alignment: center-right;
}

.user-options .glyph {
    -fx-font-size: 14px;
    -fx-fill: #999;
}

.user-options .button {
    -fx-padding: 6px;
    -fx-background-radius: 5px;
    -fx-margin: 0;
    -fx-focus-traversable: false;
}

.user-options .button:hover {
    -fx-effect: dropshadow(gaussian, #b8b8b8, 6, 0, 0, 2);
}

.user-options .textfield {
    -fx-font-family: "HelveticaNeueLTPro-Lt";
    -fx-font-size: 14px;
    -fx-text-fill: #444;
    -fx-accent: #1c8fd0;
    -fx-background-color: whitesmoke;
    /*-fx-background-insets: 1 1 1 0;*/
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    /*-fx-border-color: #ddd;*/
    /*-fx-effect: dropshadow(gaussian, #c6c6c6, 6, 0, 0, 2);*/
    /*-fx-text-fill: #555;*/
    /*-fx-background-color: #eee;
    -fx-border-color: transparent;
    -fx-border-radius: 40px;
    -fx-padding: 5px 5px;
    -fx-min-width: 180px;
    -fx-focus-traversable: false;*/
    /* -fx-effect: innershadow( gaussian, rgba( 64, 64, 64, 0.5 ), 10, 0, 0, -5 ); */
}

.user-options .textfield:hover {
    -fx-text-fill: #666;
    /*-fx-effect: dropshadow(gaussian, #b6b6b6, 6, 0, 0, 2);*/
}

.user-options .textfield:focused {
    /*-fx-text-fill: #666;*/
    /*-fx-effect: dropshadow(gaussian, #a6a6a6, 6, 0, 0, 2);*/
}

.user-options .vbox {
    /*-fx-padding: 0 5px;*/
    /*-fx-text-fill: #666;*/
    /*-fx-effect: dropshadow(gaussian, #a6a6a6, 6, 0, 0, 2);*/
}

.user-options .image-view {

}

.option-buttons {
    -fx-alignment: top-right;
}

.option-buttons .circle {
    -fx-fill: #ff4e15;/*#ffc115;*/
    -fx-stroke: white;
    -fx-stroke-width: 1.75px;
}

.popover > .border {
    -fx-stroke: transparent !important;
    -fx-stroke-width: 0 !important;
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-fill: #fff !important;
    -fx-effect: dropshadow(gaussian, #aaa, 8.0, 0.0, 0.0, 2.0);
    -fx-background-radius: 10px !important;
}

.top-panel {
}

.main-view {

}

/* ---------------------------------------- dynamic style classes -----------------------------------------------------------*/

#pop-over {
    -fx-border-color: transparent;
    -fx-effect: dropshadow( gaussian, #b8b8b8, 2, 0, 2, 2);
}

#pop-over-vbox {
    -fx-padding: 15px;
    -fx-spacing: 10px;
}

#pop-over-hbox {
    -fx-padding: 15px;
    -fx-spacing: 10px;
}

#pop-over-scroll-pane {
  -fx-padding: 0;
  -fx-background: transparent;
  -fx-border-color: transparent;
  -fx-background-color: transparent;
  -fx-alignment: center;
}

#pop-over-scroll-pane > .corner {
    -fx-background-color: transparent;
}

#pop-over-scroll-pane:focused {
    -fx-border-color: transparent;
}

#pop-over-scroll-pane.scroll-bar:horizontal {
    -fx-padding: 0;
}

#pop-over-scroll-pane.scroll-bar:vertical {
    -fx-padding: 0;
}

#pop-over-scroll-pane.scroll-bar:horizontal, #pop-over-scroll-pane.scroll-bar:vertical{
    -fx-background-color:transparent;
    -fx-unit-increment: 1000px ;
    -fx-block-increment: 50px ;
}

#pop-over-scroll-pane.scroll-bar:vertical .increment-button, #pop-over-scroll-pane.scroll-bar:vertical .decrement-button {
    -fx-padding: 6px 0;
    -fx-background-color: transparent;
    -fx-border-width: 4px;
    -fx-border-color:transparent;
}

#pop-over-scroll-pane.scroll-bar:horizontal .increment-button, #pop-over-scroll-pane.scroll-bar:horizontal .decrement-button {
    -fx-padding: 0 6px;
    -fx-background-color: transparent;
    -fx-border-width: 4px;
    -fx-border-color: transparent;
}

#pop-over-scroll-pane.scroll-bar:vertical .increment-button:hover, #pop-over-scroll-pane.scroll-bar:vertical .decrement-button:hover,
#pop-over-scroll-pane.scroll-bar:horizontal .increment-button:hover, #pop-over-scroll-pane.scroll-bar:horizontal .decrement-button:hover {
    -fx-background-color: whitesmoke;
    -fx-border-color: whitesmoke;
}

#pop-over-scroll-pane.scroll-bar:vertical .increment-button:pressed, #pop-over-scroll-pane.scroll-bar:vertical .decrement-button:pressed,
#pop-over-scroll-pane.scroll-bar:horizontal .increment-button:pressed, #pop-over-scroll-pane.scroll-bar:horizontal .decrement-button:pressed {
    -fx-background-color: #eee;
    -fx-border-color: #eee;
}

#pop-over-scroll-pane.increment-arrow, #pop-over-scroll-pane.decrement-arrow {
    -fx-background-color: #333;
}

#pop-over-scroll-pane.increment-arrow:pressed, #pop-over-scroll-pane.decrement-arrow:pressed {
    -fx-background-color: #fff;
}

#pop-over-scroll-pane.scroll-bar:horizontal .track,
#pop-over-scroll-pane.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#pop-over-scroll-pane.scroll-bar:horizontal .thumb,
#pop-over-scroll-pane.scroll-bar:vertical .thumb {
    -fx-background-color: #ccc;
    -fx-background-radius: 3px;
}

#pop-over-scroll-pane.scroll-bar:horizontal .thumb:hover,
#pop-over-scroll-pane.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #aaa;
}

#pop-over-scroll-pane.scroll-bar:horizontal .thumb:pressed,
#pop-over-scroll-pane.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #888;
}

#pop-over-buttons {
    -fx-font-family: "HelveticaNeueLTPro-Roman";
    -fx-font-size: 12px;
    -fx-text-fill: #555;
    -fx-padding: 5px;
}

#pop-over-button {
    -fx-padding: 10px;
    -fx-spacing: 5px;
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-focus-traversable: true;
    -fx-cursor: hand;
    -fx-background-radius: 10px;
}

#pop-over-button:hover {
    -fx-background-color: whitesmoke;
    -fx-effect: dropshadow( gaussian, #bbb, 8, 0, 0, 2);
}

#pop-over-button:pressed {
    -fx-background-color: #eee;
    -fx-effect: dropshadow( gaussian, #bbb, 8, 0, 0, 2);
}

#pop-over-button-icon {
    -fx-fill: #555;
    -fx-font-size: 32px;
}

#pop-over-button-text {
    -fx-text-fill: #222;
    -fx-font-size: 13px;
    -fx-font-family: "HelveticaNeueLTPro-Roman";
}

#pop-over-button-shortcut {
    -fx-font-family: "HelveticaNeueLTPro-Roman";
    -fx-font-weight: bold;
    -fx-text-fill: #1c8fd0;
    -fx-font-size: 16px;
}

#notification {
    -fx-cursor: hand;
    -fx-alignment: center_left;
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-background-radius: 10px;
}

#notification:hover {
  -fx-background-color: whitesmoke;
  -fx-effect: dropshadow( gaussian, #bbb, 8, 0, 0, 2);
}

#notification:pressed {
  -fx-background-color: #eee;
  -fx-effect: dropshadow( gaussian, #bbb, 8, 0, 0, 2);
}

#notification-glyph {

    -fx-font-size: 14px;
    -fx-fill: #555;

}

#notification-text {
    -fx-spacing: 2px;
}

#notification-header {
    -fx-font-family: "HelveticaNeueLTPro-Md";
    -fx-text-fill: #1c8fd0;
    -fx-font-size: 15px;
}

#notification-content {
  -fx-font-family: "SF Pro Display Regular";
  -fx-text-fill: #555;
  -fx-font-size: 13px;
}

/* ------------------------------------------ Very specific components STYLE -----------------------------------------------*/
/* Only for the dashboard's direct children */
#logo {
    -fx-font-family: "AvenirLTStd-Heavy";
    -fx-font-size: 36px;
    -fx-text-fill: #fff;
    /*-fx-effect: dropshadow( gaussian, #555, 8, 0, -4, 6);*/
}

#logohbox {
    -fx-alignment: center;
    -fx-background-color: linear-gradient(#1c8fd0, #085eb3);
    -fx-cursor: hand;
    /*-fx-border-color: transparent transparent #5aa0b8 transparent;*/
    /*-fx-border-width: 2px;*/
}

#user-image {
    -fx-image: url("../stylesheets/images/user.png");
}

#header-label {
    -fx-font-family: "HelveticaNeueLTPro-Md";
    -fx-text-fill: #555;
    -fx-font-size: 28px;
}

#searchhbox {
    -fx-alignment: center-left;
    -fx-spacing: 10px;
    -fx-padding: 0 30px;
}

#lbl-options {
    -fx-padding: 0 20px;
}

#user-name {
}

#sp-image {
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-overflow: hidden;
}

#name {
    -fx-font-family: "HelveticaNeueLTPro-Md";
    -fx-font-size: 17px;
}

#job {
    -fx-font-family: "HelveticaNeueLTPro-Lt";
    -fx-font-size: 14px;
}

#dialog-buttons {
    -fx-font-family: "HelveticaNeueLTPro-Md";
    -fx-padding: 6px;
    -fx-font-size: 14px;
    -fx-text-fill: #4F9F64;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}

#dialog-buttons:hover,  #dialog-buttons:focused, #dialog-buttons:pressed{
    -fx-effect:none;
    -fx-background-color: transparent;

}

/*SIDEBAR BUTTON ANIMATIONS*/
#hbox-base {
    -fx-background-color: transparent;
}

#hbox-clicked {
    -fx-background-color: whitesmoke;
}

#button-base {
    -fx-text-fill: #bbb;
    -fx-font-family: "HelveticaNeueLTPro-Md";
}

#button-clicked {
    -fx-text-fill: #1c8fd0;
    -fx-font-family: "HelveticaNeueLTPro-Md";
}

#glyph-base {
    -fx-fill: #bbb;
}



#glyph-clicked {
    -fx-text-fill: #1c8fd0;
}

/*--------------------- QUICK BUTTONS ----------------------*/
#quick-button {
    -fx-padding: 5px 0;
    -fx-spacing: 3px;
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-focus-traversable: true;
    -fx-cursor: hand;
    -fx-background-radius: 10px;
}

#quick-button:hover {
    -fx-background-color: whitesmoke;
    -fx-effect: dropshadow( gaussian, #bbb, 6, 0, 0, 2);
}

#quick-button:pressed {
    -fx-background-color: #eee;
    -fx-effect: dropshadow( gaussian, #bbb, 6, 0, 0, 2);
}

#quick-button-icon {
    -fx-fill: #555;
    -fx-font-size: 32px;
}

#quick-button-text {
    -fx-text-fill: #222;
    -fx-font-size: 13px;
    -fx-font-family: "HelveticaNeueLTPro-Md";
}

#quick-button-shortcut {
    -fx-font-family: "HelveticaNeueLT Pro 55 Md";
    -fx-font-weight: bold;
    -fx-text-fill: #1c8fd0;
    -fx-font-size: 15px;
}
