.borderpane {
    -fx-background-color: white;
}

.leftlabel {
    -fx-font-family: "HelveticaNeueLTPro-Md";
    -fx-text-fill: #fff;
}

.rightlabel {
    -fx-font-family: "Avenir LT Std 65 Medium";
    -fx-text-fill: #999;
    -fx-font-size: 12px;
    -fx-position: absolute;
}

.vbox {
    -fx-padding: 0 45px;
    -fx-spacing: 5px;
}

.hbox {
    -fx-alignment: center;
    -fx-spacing: 5px;
}

.button {
    -fx-font-family: "Avenir LT Std 55 Roman";
    -fx-font-weight: normal;
    -fx-text-fill: #999;
    -fx-background-color: transparent;
    -fx-font-size: 26px;
    -fx-focus-traversable: true;
    -fx-cursor: hand;
}

.button:hover {
    -fx-text-fill: #085eb3;
}

.button:focused {
    -fx-text-fill: #1c8fd0;
}

.button:pressed {
    -fx-text-fill: #1c8fd0;
}

.textfield {
    -fx-font-family: "HelveticaNeueLT Pro 55 Roman", Helvetica, Arial, sans-serif;
    -fx-font-size: 16px;
    -fx-text-box-border: transparent;
    -fx-background-color: transparent;
    /* -fx-background-insets: 0; */
    -fx-border-color: transparent transparent #999 transparent;
}

.textfield:hover {
    -fx-border-color: transparent transparent #5aa0b8 transparent;
    -fx-border-width: 1px 1px 2px 1px;
}

.textfield:focused {
    -fx-border-color: white white #86c2d6 white;
    -fx-border-width: 1px 1px 2px 1px;
}

.jfx-dialog-layout .jfx-layout-heading .text {
    -fx-font-family: "HelveticaNeueLT Pro 65 Md";
    -fx-fill: #2196F3;
}

/* IDS */
#title {
    -fx-font-family: "Avenir LT Std 55 Roman";
    -fx-font-size: 40px;
}

#welcome {
    -fx-font-size: 20px;
}

#message {
    -fx-font-size: 16px;
}

#list {
    -fx-font-size: 14px;
}

#leftbackground {
    -fx-background-image: url('images/login_illustration.jpg');
}

#leftforeground {
    /*-fx-background-color: linear-gradient(rgba(28, 144, 208, 0.8), rgba(8, 94, 180, 0.5));*/
    -fx-align-items: center;
}

/* #invitation {
    -fx-padding: 10px 60px 0 60px;
    -fx-border-color: #86c2d6 white white white;
} */

#forgotten {
    -fx-font-family: "Avenir LT Std 65 Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -fx-font-size: 14px;
    -fx-text-fill: #999;
}

#forgotten:hover {
    -fx-text-fill: #888;
}

#forgotten:pressed {
    -fx-text-fill: #aaa;
}

#language {
  -fx-font-family: "Avenir LT Std 65 Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -fx-font-size: 14px;
  -fx-text-fill: #999;
}

#language:hover {
    -fx-text-fill: #888;
}

#language:pressed {
    -fx-text-fill: #aaa;
}

#dialog-buttons {
    -fx-font-family: "HelveticaNeueLT Pro 65 Md";
    -fx-padding: 6px;
    -fx-font-size: 14px;
    -fx-text-fill: #4F9F64;
    -fx-font-weight: bold;
    -fx-background-color: transparent;

}

#dialog-buttons:hover,  #dialog-buttons:focused, #dialog-buttons:pressed{
    -fx-effect:none;
    -fx-background-color: transparent;

}
