.vbox {
    -fx-padding: 30px 30px;
    -fx-spacing: 40px;
    -fx-background-color: white;
    -fx-alignment: center;
}

.button {
    -fx-font-family: "Avenir LT Std 55 Roman";
    -fx-font-weight: normal;
    -fx-text-fill: #999;
    -fx-background-color: transparent;
    -fx-font-size: 26px;
    -fx-focus-traversable: true;
    -fx-cursor: hand;
}

.jfx-text-field, .jfx-password-field {
    -fx-padding: 5px 20px;
    -fx-background-color: transparent;
    -fx-prompt-text-fill: #999;
    -fx-font-family: "Avenir LT Std 45 Light";
    -fx-text-inner-color: #222;
    -fx-font-size: 16px;
    -jfx-focus-color: #1c8fd0;
    -jfx-unfocus-color: #999;
}



#buttons {
    -fx-alignment: center;
    -fx-spacing: 10px;
}

#login {
    -fx-background-color: #1c8fd0;
    /*-fx-background-color: linear-gradient(rgba(90, 160, 184, 1), rgba(12, 94, 122, 1));*/
    -fx-padding: 10px 20px;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    /*-jfx-button-type: RAISED;*/
    -fx-effect: dropshadow(gaussian, #bbb, 12, 0 , 0, 4);
}

/*#login:hover {
    -fx-background-color: linear-gradient(rgba(134, 194, 214, 1), rgba(30, 116, 146, 1));
}

#login:pressed {
    -fx-background-color: linear-gradient(rgba(12, 94, 122, 1), rgba(90, 160, 184, 1));
}*/

#forgotten {
    -fx-font-family: "Avenir LT Std 65 Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -fx-font-size: 14px;
    -fx-text-fill: #999;
}

#forgotten:hover {
    -fx-text-fill: #888;
}

#forgotten:pressed {
    -fx-text-fill: #aaa;
}

#dialog-buttons {
    -fx-font-family: "HelveticaNeueLT Pro 65 Md";
    -fx-padding: 6px;
    -fx-font-size: 14px;
    -fx-text-fill: #4F9F64;
    -fx-font-weight: bold;
    -fx-background-color: transparent;

}

#dialog-buttons:hover,  #dialog-buttons:focused, #dialog-buttons:pressed{
    -fx-effect: none;
    -fx-background-color: transparent;

}
