.body {
    -fx-font-family: "HelveticaNeueLT Pro 65 Md", "HelveticaNeueLT Pro 55 Roman", "HelveticaNeueLT Pro 45 Lt", "HelveticaNeueLT Pro 35 Th", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -fx-background-color: whitesmoke;

}

.stack-pane {
    -fx-padding: 15px;
}

.content {
    /*-fx-border-color: #085eb3;
    -fx-border-width: 0 0 0 5px;*/
    -fx-background-color: whitesmoke;
}

.grid-pane {
    -fx-hgap: 5px;
    -fx-vgap: 5px;
}

.hbox {
    -fx-spacing: 5px;
    -fx-alignment: center-left;
    -fx-padding: 10px;
}

.label {
    -fx-font-family: "HelveticaNeueLT Pro 55 Roman";
    -fx-font-size: 14px;
    -fx-text-fill: #555;
}

.button {
    -fx-padding: 8px;
    -fx-background-color: whitesmoke;
    -fx-text-fill: #999;
    -fx-focus-traversable: false;
    -fx-cursor: hand;
}

.button:hover {
    -fx-effect: dropshadow( gaussian, #999, 4, 0, 0, 2);
}

.button:pressed {
    -fx-background-color: #eee;
}

.glyph {
    -fx-fill: #555;
}

.text-field {
  -fx-font-family: "HelveticaNeueLT Pro 65 Md", "SF Pro Display";
  -fx-font-size: 14px;
  /*-fx-effect: dropshadow( gaussian , #eee , 4, 0.0 , 0 , 4 );*/
  -fx-accent: #1c8fd0;
  -fx-background-color: #eee;
  -fx-border-color: #ccc;
  -fx-text-fill: #333;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
  /*-fx-border-color: #ddd;*/
}

.text-field:pressed {
    /*-fx-effect: dropshadow( gaussian , #989898 , 4, 0.0 , 0 , 2 );*/
    -fx-background-color: #ddd;
}

.text-field:focused {
    /*-fx-background-color:  whitesmoke;*/
    -fx-effect: dropshadow( gaussian, #999, 4, 0, 0, 2);
}

.jfx-button {
    -fx-font-family: "HelveticaNeueLT Pro 65 Md";
    -fx-font-size: 12px;
    -jfx-button-type: FLAT;
    -fx-effect: none;
    -fx-focus-traversable: false;
}

.accept {
  -fx-font-weight: bold;
  -fx-background-color: #1c8fd0;/*#1c8fd0;*/
  -fx-text-fill: white;
  -fx-focus-traversable: true;
  -fx-effect: none;
}

.accept:hover {
  -fx-effect: none;
}

.accept:pressed {
    -fx-background-color: #1c8fd0;
}

.cancel {
  -fx-font-weight: bold;
  -fx-background-color: transparent;
  -fx-text-fill: #999;
  -fx-focus-traversable: true;
  -fx-effect: none;
}

.cancel:hover {
  -fx-effect: none;
}

.cancel:pressed {
    -fx-background-color: transparent;
}

.upload {
    -fx-effect: none;
    -fx-text-fill: #555;
    -fx-background-color: whitesmoke;
}

.upload:hover, .upload:focused, .upload:pressed {
    -fx-effect: none;
}

.panels {
    -fx-background-color: #fff;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
}

.panel-headers {
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

.panel-descriptors {
    -fx-text-fill: #1c8fd0;
    -fx-font-size: 16px;
    -fx-font-family: "HelveticaNeueLT Pro 55 Roman";
    -fx-font-weight: bold;
}

.background {
    -fx-background-color: #fff;
}

.important {
    -fx-border-color: #FFBFA0;
    -fx-background-color: #FFE9DF;
}

.important:pressed {
    -fx-background-color: #FFC9B0;
}

.important-label {
    -fx-font-size: 20px;
    -fx-font-family: "HelveticaNeueLT Pro 65 Md";
    -fx-font-weight: bold;
    -fx-text-fill: #FF8A52;
}

.info-hbox {
    -fx-alignment: center-right;
    -fx-padding: 10px 65px;
}

.info-button {
    -fx-background-color: transparent;
    -fx-effect: none;
    -fx-text-fill: #999;/*#1c8fd0;*/
    -fx-padding: 3px;
}

.info-button:hover {
    -fx-background-color: whitesmoke;
}

.upper-border {
  -fx-border-color: #bbb transparent transparent transparent;
  -fx-border-width: 0.5;
}

.lower-border {
  -fx-border-color: transparent transparent #bbb transparent;
  -fx-border-width: 0.5;
}

.both-borders {
  -fx-border-color: #bbb transparent;
  -fx-border-width: 0.5;
}

#image-background {
    -fx-background-image: url("../stylesheets/images/blue.jpg");
    /*-fx-background-color: #EDA741;*/
    -fx-padding: 0;
}

#image-foreground {
    /*-fx-background-color: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)); */
}

#title {
    -fx-font-family: "HelveticaNeueLT Pro 55 Roman";
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
    -fx-font-size: 36px;
}

#instructions {
    -fx-font-family: "HelveticaNeueLT Pro 55 Roman";
    -fx-text-fill: #fff;
    -fx-font-size: 16px;
    -fx-alignment: center;
    -fx-padding: 0 10px;
}

#buttons {
    -fx-alignment: center-right;
}

#obligatory-hbox {
    -fx-padding: 0px 5px;
    -fx-spacing: 10px;
}

#obligatory-text-field {
    -fx-font-size: 10px;
    -fx-padding: 0;
    -fx-focus-traversable: false;
}

#obligatory-label {
    -fx-text-fill: #999;
    -fx-font-size: 12px;
}

#pop-over {
    -fx-border-color: transparent;
    -fx-effect: dropshadow( gaussian, #b8b8b8, 2, 0, 2, 2);
}

#pop-over-vbox {
    -fx-padding: 15px;
    -fx-spacing: 10px;
}

#pop-over-hbox {
    -fx-padding: 15px;
    -fx-spacing: 10px;
    -fx-alignment: center;
}


#pop-over-buttons {
    -fx-font-family: "HelveticaNeueLT Pro 55 Roman";
    -fx-font-size: 12px;
    -fx-text-fill: #555;
    -fx-padding: 5px;
}

#pop-over-button {
    -fx-padding: 10px;
    -fx-spacing: 5px;
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-focus-traversable: true;
    -fx-cursor: hand;
}

#pop-over-button:hover {
    -fx-background-color: whitesmoke;
}

#pop-over-button:pressed {
    -fx-background-color: #eee;
}

#pop-over-button-icon {
    -fx-fill: #555;
    -fx-font-size: 32px;
}

#pop-over-button-text {
    -fx-text-fill: #222;
    -fx-font-size: 12px;
    -fx-font-family: "HelveticaNeueLT Pro 55 Roman";
}

#pop-over-button-shortcut {
    -fx-font-family: "HelveticaNeueLT Pro 65 Md";
    -fx-text-fill: #1c8fd0;
    -fx-font-size: 12px;
}

#dialog-buttons {
    -fx-font-family: "HelveticaNeueLT Pro 65 Md";
    -fx-padding: 6px;
    -fx-font-size: 14px;
    -fx-text-fill: #4F9F64;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}

#dialog-buttons:hover,  #dialog-buttons:focused, #dialog-buttons:pressed{
    -fx-effect:none;
    -fx-background-color: transparent;
}

#drag-drop-area {
    -fx-padding: 10px;
    -fx-background-color: whitesmoke;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
}

#drag-drop-img {
    -fx-image: url("../stylesheets/images/drag_and_drop.png");
    -fx-opacity: 0.7;
}

#drag-drop-vbox {
    -fx-alignment: center;
    -fx-padding: 10px;
    -fx-spacing: 3px;
}

#drag-drop-label {
    -fx-font-family: "HelveticaNeueLT Pro 65 Md";
    -fx-padding: 0 10px;
    -fx-font-size: 18px;
    -fx-text-fill: #999;
}

#drag-drop-text {
    -fx-font-family: "HelveticaNeueLT Pro 45 Lt";
    -fx-font-size: 12px;
    -fx-text-fill: #999;
}

#help-text {
    -fx-text-fill: #085eb3;
    -fx-focus-traversable: false;
}

#help-text:hover {
      -fx-text-fill: #1c8fd0;
}

#pop-over {
    -fx-border-color: transparent;
    -fx-effect: dropshadow( gaussian, #b8b8b8, 2, 0, 2, 2);
}

#pop-over-vbox {
    -fx-padding: 0 15px;
    -fx-spacing: 10px;
}

#pop-over-hbox {
    -fx-padding: 0 15px;
    -fx-spacing: 10px;
}


#pop-over-buttons {
    -fx-font-family: "HelveticaNeueLT Pro 55 Roman";
    -fx-font-size: 12px;
    -fx-text-fill: #555;
    -fx-padding: 5px;
}

#pop-over-button {
    -fx-padding: 10px;
    -fx-spacing: 5px;
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-focus-traversable: true;
    -fx-cursor: hand;
}

#pop-over-button:hover {
    -fx-background-color: whitesmoke;
}

#pop-over-button:pressed {
    -fx-background-color: #eee;
}

#pop-over-button-icon {
    -fx-fill: #555;
    -fx-font-size: 32px;
}

#pop-over-button-text {
    -fx-text-fill: #222;
    -fx-font-size: 12px;
    -fx-font-family: "HelveticaNeueLT Pro 55 Roman";
}

#pop-over-button-shortcut {
    -fx-font-family: "HelveticaNeueLT Pro 65 Md";
    -fx-text-fill: #1c8fd0;
    -fx-font-size: 12px;
}
