/* *** HOME SCHEMA ***
 * Selectors are ranked according to their level of specificity
 */

 /* ------------------------------------------ Graphic fxml components STYLE -----------------------------------------------*/
 /* General design of the body */
  .body {
     -fx-background-color: whitesmoke;
     -fx-font-family: "HelveticaNeueLT Pro 55 Roman", "Helvetica Neue", "SF Pro Display" Helvetica, "Calibri Light", Calibri, Arial, sans-serif;
     -fx-font-size: 12px;
     -fx-padding: 10px 30px 30px 30px;
  }

  .hbox  {
    -fx-alignment: center-left;
  /*  -fx-padding: 20px 0;*/
  }

  .grid-pane  {
      -fx-alignment: center-left;
      -fx-padding: 10px 0;
      -fx-hgap: 15px;
      -fx-vgap: 15px;
  }

  .label {
      -fx-font-family: "HelveticaNeueLT Pro 65 Md";
      -fx-font-size: 14px;
  }


    .glyph {
      -fx-font-size: 12px;
      -fx-fill: #085eb3;
      -fx-focus-traversable: false;
    }


  .main-buttons {
      -fx-text-fill: #085eb3;
      -fx-background-color: transparent;
      -fx-font-size: 12px;
      -fx-font-family: "SF Pro Display";
      -fx-padding: 5px;
      /*-fx-border-radius: 5px;
      -fx-background-radius: 5px;*/
  }

  .main-buttons:hover{
      -fx-text-fill: #1c8fd0;
  }

  .main-buttons:pressed {
    -fx-background-color: white;
  }

  .main-buttons .number {
      -fx-text-fill: #fff;
      -fx-font-family: "HelveticaNeueLT Pro 45 Lt";
      -fx-font-size: 40px;
  }

  .main-buttons .message {
      -fx-text-fill: #fff;
      -fx-font-family: "HelveticaNeueLT Pro 35 Th";
      -fx-font-size: 12px;
  }

  .main-buttons .buttons {
      -fx-border-color: #085eb3;
      /*-fx-border-width: 3px;*/
      /*-fx-border-radius: 0 0 5px 5px;*/
      -fx-background-radius: 5px;
      -fx-background-color: #fff;
      -fx-text-fill: #085eb3;
  }

  .texts {
      -fx-font-family: "HelveticaNeueLT Pro 65 Md";
      -fx-text-fill: #085eb3;
  }

  .panels {
      -fx-background-color: #fff;
      /*-fx-border-radius: 5px;
      -fx-background-radius: 5px;*/
  }

  .panel-descriptors {
      -fx-text-fill: #999;
      -fx-font-size: 18px;
      -fx-font-family: "HelveticaNeueLT Pro 45 Lt";
  }

/*----------------------------------------------------------------------------------------------*/
  .list-cell:even, .list-cell:odd, .list-cell:empty{
    -fx-background-color: #fafafa;
  }

  .jfx-list-view{
    -fx-background-insets: 0;
    -fx-background: transparent;
    -fx-padding: 10;
    -fx-cell-vertical-margin: 10.0;
    -fx-vertical-gap: 10.0;
  }

  .chart {
      -fx-background-color: #fff;
      -fx-border-color: transparent;
      -focus-traversable: false;
  }

  .chart-title {
    -fx-font-family: "HelveticaNeueLT Pro 65 Md";
  }

  .chart-content {
    -fx-background-color: #fff;
  }

  .axis-label {
    -fx-font-family: "SF Pro Display";
  }

  .chart-legend {
    -fx-font-family: "SF Pro Display";
  }

  .chart-legend-item-symbol{
    -fx-background-radius: 0;
  }

  .chart-legend-item{
      -fx-text-fill: #191970;
  }

  /*.chart-bar {
    -fx-bar-fill: #22bad9;
    -fx-background-color: linear (0%,0%) to (0%,100%)
        stops (0%, derive(-fx-bar-fill,-30%))
        (100%, derive(-fx-bar-fill,-40%)),
        linear (0%,0%) to (0%,100%)
        stops (0%, derive(-fx-bar-fill,80%))
        (100%, derive(-fx-bar-fill, 0%)),
        linear (0%,0%) to (0%,100%)
        stops (0%, derive(-fx-bar-fill,30%))
        (100%, derive(-fx-bar-fill,-10%));
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}*/

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}
.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}

/*.jfx-tab-pane .headers-region {
    -fx-font-family: "Avenir LT Std 35 Light";
}

.jfx-tab-pane .depth-container { -fx-effect: none; }

.jfx-tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0.0;
    -fx-background-color:transparent;
}

.jfx-tab-pane .tab-header-area .jfx-rippler{
    -jfx-rippler-fill: #1c8fd0;
    -fx-cursor:hand;
}

.jfx-tab-pane .tab-header-area  .tab-selected-line{
     -fx-background-color: #1c8fd0;
     -fx-pref-width: 10px;
}

.jfx-tab-pane .tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #222;
    -fx-font-size: 16px; before it was 12px
    -fx-wrap-text: true;
    -fx-cursor:hand;
}

.jfx-tab-pane .tab:hover .tab-label{
	-fx-background-radius: 0.0;
}

.jfx-tab-pane .tab:selected .tab-label{
  -fx-text-fill: #1c8fd0;
}*/

.tab-pane {
    -fx-background-color: #fff;
    -fx-font-family: "HelveticaNeueLT Pro 65 Md";
    /*-fx-border-color: whitesmoke;
    -fx-border-width: 10px;*/
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane .tab-header-area .headers-region .tab:top {
    -fx-font-family: "HelveticaNeueLT Pro 45 Lt";
    -fx-font-size: 14px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-radius: 5 5 5 5;
    -fx-background-insets: 0;
}

.tab-pane .tab-header-area .headers-region .tab:selected:top {
    -fx-border-color:  transparent transparent transparent transparent;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: #fff;

}

.tab-pane .tab-header-area .headers-region .tab .tab-container  {
    -fx-background-color: transparent;
}

.tab-pane .tab-header-area .headers-region .tab:selected .tab-container  {
    -fx-background-color: #fff;
    -fx-border-color: #fff;
}

.tab-pane .tab-header-area .headers-region .tab .tab-container .tab-label {
    -fx-font-family: "HelveticaNeueLT Pro 45 Lt";
    -fx-text-fill: #222;
    -fx-alignment: center;
}

.tab-pane .tab-header-area .headers-region .tab:selected .tab-container .tab-label {
    -fx-font-family: "HelveticaNeueLT Pro 65 Md";
    -fx-font-size: 16px;
    -fx-text-fill: #1c8fd0;
    -fx-border-color: #fff;
    -fx-alignment: center;
}

  #header-label {
      -fx-font-family: "HelveticaNeueLT Pro 65 Md";
      -fx-text-fill: #555;
      -fx-font-size: 28px;
  }

  #header-hbox {
      -fx-padding: 10px 0;
  }

  #notifications {
      -fx-background-color: #fafafa;
  }

  #quick-button {
      -fx-padding: 10px;
      -fx-spacing: 5px;
      -fx-alignment: center;
      -fx-focus-traversable: true;
  }

  #quick-button:hover {
      -fx-background-color: #eee;
  }

  #quick-button:focused {
      -fx-background-color: #eee;
  }

  #quick-button:pressed {
      -fx-background-color: #ddd;
  }

  #quick-button-icon {
      -fx-fill: #555;
      -fx-font-size: 32px;
  }

  #quick-button-text {
      -fx-text-fill: #222;
      -fx-font-size: 12px;
      -fx-font-family: "HelveticaNeueLT Pro 65 Md";
  }

  #quick-button-shortcut {
      -fx-font-family: "HelveticaNeueLT Pro 55 Roman";
      -fx-text-fill: #444;
      -fx-font-size: 10px;
  }
