.background {
    /*-fx-background-color: radial-gradient(focus-angle 254deg , focus-distance 74% , center 50% 50% , radius 50% , #fff, #eee);*/
    -fx-background-image: url('images/splash-screen.jpg');
}

.hbox {
    -fx-alignment: center;
}

.vbox {
    -fx-alignment: center;
    -fx-spacing: 3px;
}

.label {
    -fx-font-family: "HelveticaNeueLTPro-Lt";
    -fx-font-size: 18px;
    -fx-text-fill: #888;
}

.border-pane {
    -fx-background-color: #fff;
}

.image-view {
  -fx-image: url('images/loading.gif');
}

.hbox {
  -fx-alignment: center;
  -fx-spacing: 10px;
}

#title {
    -fx-font-family: "HelveticaNeueLTPro-Md";
    -fx-font-size: 40px;
    -fx-text-fill: #1c8fd0;
}

#loading-label {
    -fx-font-family: "HelveticaNeueLTPro-Md";
}

#all-rights-reserved-label {
    -fx-font-family: "HelveticaNeueLTPro-Lt";
    -fx-font-size: 14px;
    -fx-text-fill: #999;
}

#all-rights-reserved-hbox {
    -fx-padding: 20px 20px;
    -fx-alignment: center_right;
    -fx-spacing: 5px;
}

#gif-container {
  -fx-background-color: #ffffff;
  -fx-alignment: center;
}
